/* Estilo para el menú lateral */
.sidebar {
    background-color: #333; /* Color de fondo del menú lateral */
    padding: 15px; /* Espaciado interno */
}

.sidebar a {
    color: #fff; /* Color del texto del menú */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

.sidebar a:hover {
    color: #fff; /* Color del texto al pasar el ratón sobre los enlaces */
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilo para el contenido principal */
.col-md-9 {
    padding: 15px; /* Espaciado interno */
}

/* Estilo para el menú desplegable */
.dropdown-menu {
    background-color: #333; /* Color de fondo del menú desplegable */
}

.dropdown-menu a {
    color: #fff; /* Color del texto del menú desplegable */
}

.dropdown-menu a:hover {
    color: #fff; /* Color del texto al pasar el ratón sobre los enlaces del menú desplegable */
    background-color: #555; /* Color de fondo al pasar el ratón sobre los enlaces del menú desplegable */
}
